mixin unorderedListOfLinks(links)
    ul
        each val in links
            li
                a(href=val.href) #{val.text}

mixin boxWithLinks(description, links)
    div
        p #{description}
        +unorderedListOfLinks(links)

mixin boxWithTokens(tokens)
    div
        p Tokens
        if tokens
            ul
                each val in tokens
                    li
                        p
                            span #{val}

html
    head
        title= "PROV4ITDaTa DAPSI"

    body
        h1="PROV4ITDaTa-DAPSI"
        +boxWithTokens(tokens)
        +boxWithLinks("Authentication & Authorization", authRoutes)
        +boxWithLinks("GET Requests to services", serviceGetRoutes)
        +boxWithLinks("Execute RML Mapping", executeMappingRoutes)
        +boxWithLinks("Download RML Mapping", downloadRoutes)
        +boxWithLinks("Transfers", transferRoutes)
        +boxWithLinks("Dev routes", devRoutes)

